<form>
    <div id="qName">
        <h1>Nazwa Ankiety:</h1>
        <input type="text" name="questionName" required>
    </div>
    <div id="halfContainer">
        <div id="half">
            <div>
                <p>Pytanie A</p>
                <input type="text" name="a" required>
            </div>
            <div>
                <p>Pytanie B</p>
                <input type="text" name="b" required>
            </div>
        </div>
        <div id="half">
            <div>
                <p>Pytanie C</p>
                <input type="text" name="c" required>
            </div>
            <div>
                <p>Pytanie D</p>
                <input type="text" name="d" required>
            </div>
        </div>
    </div>
    <button type="submit">Dodaj</button>
</form>
